.nav {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #333333;
  padding: 10px 30px;
  position: relative;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -1px rgba(0, 0, 0, 0.4);

  &Logo {
    margin-right: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    &Text {
      margin-left: 10px;
      color: #7a7a7a;
    }
  }

  &List {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;

    &El {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 5px 10px;
      transition: all 0.2s ease;
      position: relative;
      border-radius: 5px;

      &:hover {
        background-color: #484848;
        cursor: pointer;

        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.3);
        transform: translateY(1px);
      }

      &Text {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
