@font-face {
  font-family: 'Circe';
  src: url('./assets/fonts/Circe-Regular.woff2') format('woff2'),
    url('./assets/fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Circe', sans-serif;
}
